*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size:  62.5% !important;
	//height: 100vh;
}
body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;

	//font-size: 1.3rem !important;
	* { font-size:  inherit !important; }
}
ul li { list-style: none; }
.v-application {
	background-color: transparent !important;
}
.v-data-table .v-icon:before {
	font-size: 2rem !important;
}
.v-alert {
	font-size: 1.4rem !important; 
	.v-icon {
		font-size: 1.8rem !important;
	}
}

.v-data-table--float-head {
	position: relative;

	.floatThead-container {
		overflow: hidden;
	}
	& .v-data-table-header {
		background-color:  #fff;
	}
}

.v-list-item__title {
	line-height: 1.5rem !important;
}


