*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5% !important;
}

body {
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-weight: 300;
  line-height: 1.6;
}

body * {
  font-size: inherit !important;
}

ul li {
  list-style: none;
}

.v-application {
  background-color: transparent !important;
}

.v-data-table .v-icon:before {
  font-size: 2rem !important;
}

.v-alert {
  font-size: 1.4rem !important;
}

.v-alert .v-icon {
  font-size: 1.8rem !important;
}

.v-data-table--float-head {
  position: relative;
}

.v-data-table--float-head .floatThead-container {
  overflow: hidden;
}

.v-data-table--float-head .v-data-table-header {
  background-color: #fff;
}

.v-list-item__title {
  line-height: 1.5rem !important;
}

.v-application h1.title,
.student-adjustment .table-title {
  font-size: 2rem !important;
  margin-bottom: 1rem;
}

.v-icon {
  font-size: 2rem !important;
}

.home {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: Muli, sans-serif;
  color: #444;
}

.home input[type],
.home select {
  font-size: 1.5rem;
}

.home__logo-text {
  text-align: center;
  font-weight: normal;
  color: #F6F6EF;
  margin: 0;
  font-size: 2rem;
  letter-spacing: .2rem;
  background-color: #34363A;
}

.home__logo-text--servant {
  line-height: 3.6rem;
}

.home__logo-text--student {
  line-height: 6rem;
  border-bottom: 1px solid rgba(101, 116, 134, 0.57);
}

.home .background {
  background-color: #383B42;
  box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset;
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.home__navigation {
  font-size: 1.7rem !important;
  width: 20rem;
  height: 100%;
  float: left;
  position: relative;
  z-index: 99;
}

.home__navigation .user-cue {
  position: relative;
  text-align: center;
  display: block;
  background-color: #34363A;
  color: #F6F6EF;
  line-height: 2.3rem;
  font-size: 1.35rem;
  border-bottom: 1px solid rgba(101, 116, 134, 0.57);
}

.home__navigation ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.home__navigation ul li {
  border-bottom: 1px solid #42454D;
  padding-left: 1.3rem;
  transition: all 0.6s;
  border-top: 1px solid #2E3036;
}

.home__navigation ul li:hover {
  background-color: #454952;
  transition: all 0.6s;
  border-bottom: 1px solid #797979;
}

.home__navigation ul li:hover a {
  color: #fff;
  transition: all 0.6s;
}

.home__navigation ul li a {
  line-height: 5.5rem;
  font-size: 1.8rem;
  position: relative;
  letter-spacing: 1px;
  transition: all 0.6s;
  cursor: pointer;
  display: block;
  color: #b3b3b3;
  text-decoration: none;
}

.home__main {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.home__main .title-box {
  font-size: 1.5rem !important;
  background-color: #fff;
  border-bottom: 1px solid #C0C1C0;
  height: 60px;
  display: flex;
}

.home__main .title-box .icon-link {
  color: #AAA;
  width: auto;
  margin: 0 20px;
  float: right;
  line-height: 6.2rem;
  position: relative;
  text-decoration: none;
  transition: all .5s;
}

.home__main .title-box .icon-link:hover {
  color: #33526B;
  transition: all .5s;
}

.home__main .title-box .icon-link .fas,
.home__main .title-box .icon-link .fa {
  font-size: 2rem;
}

.home__main .title-box__title {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 3px;
  color: #919191;
  font-weight: normal;
  padding-left: 40px;
  line-height: 60px;
  position: relative;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.home__main .title-box__title:before {
  content: '';
  width: 36px;
  height: 36px;
  position: absolute;
  left: -19px;
  top: 12px;
  background-color: #34363A;
  transform: rotate(45deg);
}

.home__main article {
  max-width: 100%;
  margin: 1rem auto;
  padding: 0 1.5rem;
  font-size: 1.5rem;
}

.v-tab:hover {
  text-decoration: none;
}

.v-time-picker-title__time {
  font-size: 4rem !important;
}

.v-time-picker-title__ampm {
  font-size: 1.6rem;
}

.config__label {
  display: block;
  width: 18rem;
}

.config__row {
  margin-bottom: 1.2rem;
}

.config__row:nth-child(7) label {
  margin-top: 2rem;
}

.config__row--small {
  max-width: 42rem;
}

.login {
  font-size: 1.5rem !important;
}

.login .v-icon {
  font-size: 2rem !important;
}

.login__title {
  font-size: 2rem !important;
}

