.h3, .align-center {
	text-align: center;
	margin: 0 auto;
}

.blue {
	color:blue;
}
.panel-table {
	margin-top: 5%;
}

#tables-group {
	width:420px;
}

.table-container {
	width:100%;
}

.panel-table {
	width:100%;
	table-layout: fixed;
	margin-left:15px;
}

.panel-table tr {
	line-height: 1.6em;
}


.panel-title {
	margin:15px;
}

.border_bottom {
	border-bottom: 2pt solid;
	border-color: #DCE0E5;
}

.admin-ajuste {
	width: 100%;
}

.toggle-collapse-btn {
	display: inline-block;
}

#filtro-rapido .input-filtros {
	display: block;
	margin-bottom: 3px;
}
.input-filtros {
	display: inline-block; 
	width: 256px; 
	height: 30px;
}

.grupo-filtro {
	margin-bottom: 3px;
}

.fixed-width-labels {
	width: 170px;
	text-align: left;
}

#acoes-btns, #acoes-motivo {
	margin-top: 5px;
	margin-bottom: 15px;
}